html{
    background-image: linear-gradient(90deg, #7dbbfa, #fff);
    font-family: Bebas Neue, sans-serif;
    font-size: 2.5vw;
}
.container{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%) ;
}
button{
    background-color:#3d3d3d ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: Bebas Neue, sans-serif;
    font-size: 2vw;
    transition: 0.2s;
    border-radius: 10px;
}
button:hover{
 
    background-color:white;
    color: #7dbbfa;
}